@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h2>Rakshith's Details</h2>

<address>
    #23,8th Cross, 2nd B main<br/>
    Jaimaruthi nagar, Nandini Layout<br/>
    Bangaluru-96
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">rakshithjain11@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">rakshith.jain.raj@gmail.com</a>
</address>
